<!--Navbar-->
<nav class="navbar">
      <a class="logo" href="#">HUNGRY</a>
      <div class="menuToggle" (click)="toggle()"></div>
</nav>

<!--Nav links-->
<ul class="navigation">
  <li class="nav-item">
    <a class="nav-link" href="#home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#home">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Share recipe</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Recipes</a>
  </li>
</ul>

<!--Banner-->
<section class="banner" id="home">
  <img src="assets/background.jpg" class="cover" alt="background">
  <div class="contentBox">
    <h2>Hungry is what you need</h2>
    <h4>You can share recipes here</h4>
    <a href="#" class="btn">About</a>
  </div>
</section>



